@import url('https://fonts.googleapis.com/css?family=Gudea');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gudea', sans-serif !important;
    color: #FD6E21 !important;
}

.reveal p, .reveal li {
    line-height: 1.5em !important;
}

img.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid grey !important;
}
